exportPattern("^[[:alpha:]]+")
importFrom(geometry,delaunayn)
importFrom(mvmesh,mvmeshFromSVI,mvmeshFromSimplices,UnitSphere,rmvmesh,plot.mvmesh)
importFrom(SphericalCubature,adaptIntegrateSphereTri)
importFrom(SimplicialCubature,SimplexSurfaceArea)
importFrom(rgl,open3d,rgl.surface,axes3d,aspect3d,rgl.viewpoint)
importFrom(utils,str)
importFrom(graphics,par,persp,plot,contour)
importFrom(grDevices,dev.new)
S3method( plot, gensphere.contour )
S3method( print, gensphere.contour )
S3method( print, gensphere.distribution )
